<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <input type="text" class="form-control" [(ngModel)]="username" /> -->
<p>{{serverName}}</p>
<!-- <p>{{username}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <button class="btn btn-primary" [disabled]="username === ''" (click)="onClearInput()">Clear</button> -->

<!-- <p>{{serverCreationStatus}}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverCreated">Server Was created. Server name is {{serverName}}</p>

<!-- <app-server *ngFor="let server of servers"></app-server> -->
<!-- <app-server></app-server> -->
<!-- <p *ngFor="let para of data">{{para}}</p> -->
<div *ngFor="let para of data; let i = index" [ngStyle]="{backgroundColor: i >=5 ? 'blue':'transparent'}" [ngClass]="{'white-text': i>=5}">{{para}}</div>